<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tingyu.duba.system.mapper.SysBarOwnerMapper">
    
    <resultMap type="SysBarOwner" id="SysBarOwnerResult">
        <result property="id"    column="id"    />
        <result property="barId"    column="bar_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectSysBarOwnerVo">
        select id, bar_id, user_id from sys_bar_owner
    </sql>

    <select id="selectSysBarOwnerList" parameterType="SysBarOwner" resultMap="SysBarOwnerResult">
        <include refid="selectSysBarOwnerVo"/>
        <where>  
            <if test="barId != null "> and bar_id = #{barId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectSysBarOwnerById" parameterType="Long" resultMap="SysBarOwnerResult">
        <include refid="selectSysBarOwnerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysBarOwner" parameterType="SysBarOwner" useGeneratedKeys="true" keyProperty="id">
        insert into sys_bar_owner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="barId != null">bar_id,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="barId != null">#{barId},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateSysBarOwner" parameterType="SysBarOwner">
        update sys_bar_owner
        <trim prefix="SET" suffixOverrides=",">
            <if test="barId != null">bar_id = #{barId},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBarOwnerById" parameterType="Long">
        delete from sys_bar_owner where id = #{id}
    </delete>

    <delete id="deleteSysBarOwnerByIds" parameterType="String">
        delete from sys_bar_owner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>