<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tingyu.duba.system.mapper.SysRoleMenuMapper">
    
    <resultMap type="SysRoleMenu" id="SysRoleMenuResult">
        <result property="id"    column="id"    />
        <result property="roleId"    column="role_id"    />
        <result property="menuId"    column="menu_id"    />
    </resultMap>

    <sql id="selectSysRoleMenuVo">
        select id, role_id, menu_id from sys_role_menu
    </sql>

    <select id="selectSysRoleMenuList" parameterType="SysRoleMenu" resultMap="SysRoleMenuResult">
        <include refid="selectSysRoleMenuVo"/>
        <where>  
            <if test="roleId != null "> and role_id = #{roleId}</if>
            <if test="menuId != null "> and menu_id = #{menuId}</if>
        </where>
    </select>
    
    <select id="selectSysRoleMenuById" parameterType="Long" resultMap="SysRoleMenuResult">
        <include refid="selectSysRoleMenuVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysRoleMenu" parameterType="SysRoleMenu" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="menuId != null">menu_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="menuId != null">#{menuId},</if>
         </trim>
    </insert>

    <update id="updateSysRoleMenu" parameterType="SysRoleMenu">
        update sys_role_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="menuId != null">menu_id = #{menuId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysRoleMenuById" parameterType="Long">
        delete from sys_role_menu where id = #{id}
    </delete>

    <delete id="deleteSysRoleMenuByIds" parameterType="String">
        delete from sys_role_menu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>