<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tingyu.duba.system.mapper.SysUserRoleMapper">
    
    <resultMap type="SysUserRole" id="SysUserRoleResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>

    <sql id="selectSysUserRoleVo">
        select id, user_id, role_id from sys_user_role
    </sql>

    <select id="selectSysUserRoleList" parameterType="SysUserRole" resultMap="SysUserRoleResult">
        <include refid="selectSysUserRoleVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="roleId != null "> and role_id = #{roleId}</if>
        </where>
    </select>
    
    <select id="selectSysUserRoleById" parameterType="Long" resultMap="SysUserRoleResult">
        <include refid="selectSysUserRoleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysUserRole" parameterType="SysUserRole" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
         </trim>
    </insert>

    <update id="updateSysUserRole" parameterType="SysUserRole">
        update sys_user_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysUserRoleById" parameterType="Long">
        delete from sys_user_role where id = #{id}
    </delete>

    <delete id="deleteSysUserRoleByIds" parameterType="String">
        delete from sys_user_role where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>