<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tingyu.duba.system.mapper.SysUserPositionMapper">

	<resultMap type="SysUserPosition" id="SysUserPositionResult">
		<result property="userId"     column="user_id"      />
		<result property="positionId"     column="position_id"      />
	</resultMap>

	<delete id="deleteUserPositionByUserId" parameterType="Long">
		delete from sys_user_position where user_id=#{userId}
	</delete>
	
	<select id="countUserPositionById" resultType="Integer">
	    select count(1) from sys_user_position where position_id=#{positionId}  
	</select>
	
	<delete id="deleteUserPosition" parameterType="Long">
 		delete from sys_user_position where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
	
	<insert id="batchUserPosition">
		insert into sys_user_position(user_id, position_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.positionId})
		</foreach>
	</insert>
	
</mapper> 